(
  assets:
   [ 
    ("Plannet", File ( path: "blueprints/Plannet.glb" )),
    ("Blue gooe", File ( path: "materials/Blue gooe.glb" )),
    ("Rock", File ( path: "blueprints/Rock.glb" )),
    ("Atlas", File ( path: "materials/Atlas.glb" )),
    ("SpaceJunk", File ( path: "blueprints/SpaceJunk.glb" )),
    ("Spaceship", File ( path: "blueprints/Spaceship.glb" )),
    ("Atlas.001", File ( path: "materials/Atlas.001.glb" )),
    ("Enemy Eye-bot Spaceship", File ( path: "blueprints/Enemy Eye-bot Spaceship.glb" )),
    ("Atlas.004", File ( path: "materials/Atlas.004.glb" )),
   ]
)